/* styles.css */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
    background-color: #121212; /* Dark background */
    color: #E0E0E0; /* Light text */
}

div {
    margin-bottom: 20px;
}

input[type="number"], button {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-left: 10px;
    background: #333333; /* Darker elements */
    border: none;
    color: #FFFFFF; /* White text */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="number"]:focus {
    border-color: #F09E56;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
    outline: none;
}

button {
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold; /* Hace que el texto sea en negrita */
    font-size: 16px; /* Ajusta este valor según tus necesidades */
    margin-left: 0px; /* Ajusta este valor según tus necesidades */
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: #555555; /* Lighter on hover */
    transform: scale(1.05);
}
}

label {
    color: #BDBDBD; /* Grey text for labels */
}

#resultado {
    margin-top: 20px; /* Ajusta este valor según tus preferencias */
}

body {
    background: linear-gradient(to right, #121212, #1c1c1c);
}

div {
    margin-bottom: 25px; /* Aumenta el espaciado si es necesario */
}

@media (max-width: 600px) {
    body {
        margin: 20px;
    }

    input[type="number"], button {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .input-container {
        flex-direction: column;
    }
}
